@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fRMQ.ttf) format('truetype');
}
body {
  font-family: 'Titillium Web', sans-serif;
}
h1 {
  font-size: 42px;
  font-weight: 700;
}
.header {
  background: #50569c;
  width: 100%;
  position: fixed;
  padding-top: 18px;
  padding-bottom: 12px;
  z-index: 8;
}
.header .col-sm-12 {
  text-align: center;
}
.header .logo {
  display: inline-block;
  width: 92px;
  height: 40px;
  background-image: url("../img/sLap..svg");
}
.header .menu {
  display: inline-block;
  margin-top: 6px;
}
.header .menu a {
  margin-left: 27px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 4px 18px;
  transition: .5s;
}
.header .menu a:hover {
  border-radius: 10%;
  background-color: #3a3e75;
  transition: .5s;
}
.header .menu .active {
  border-radius: 10%;
  background-color: #3a3e75;
}
.header .col-xl-12 {
  color: #fff;
  text-align: center;
}
.header .col-xl-12 .title {
  display: inline-block;
  margin-top: 133px;
}
.header .col-xl-12 .button {
  background-color: #EB7D4B;
  padding: 21px 82px;
  margin-top: 26px;
  border: none;
  transition: .5s;
}
.header .col-xl-12 .button:hover {
  background-color: #f5783e;
  transition: .5s;
}
.team {
  background: #e7f1f8;
  text-align: center;
  height: 100%;
  padding-top: 15px;
}
.team .title {
  margin-top: 60px;
  display: inline-block;
}
.team .title h1 {
  font-size: 41px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}
.team .col-xl-3 {
  text-align: center;
}
.team .col-xl-3 .image {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.team .col-xl-3 .image img {
  width: 100%;
  border-radius: 50%;
}
.team .col-xl-3 .name {
  display: inline-block;
  margin-top: 34px;
}
.team .col-xl-3 .name h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.team .col-xl-3 .name p {
  font-size: 16px;
  font-weight: 400;
  color: #30BAE7;
}
.team .col-xl-3 .about {
  display: inline-block;
  width: 240px;
}
.team .col-xl-3 .about p {
  display: block;
}
.team .col-xl-4 {
  text-align: center;
}
.team .col-xl-4 .about-more {
  display: inline-block;
}
.team .col-xl-4 .about-more h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  padding-top: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.popup-content {
  text-align: center;
  width: 400px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.popup-close {
  position: absolute;
  top: -20px;
  right: -30px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
}
.popup-header {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 500;
}
.line {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100px;
  height: 5px;
  background-color: #BDD1DF;
  animation-name: line;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: running;
}
.home {
  background-color: #50569c;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}
.home .line {
  margin-top: -6px;
}
.home h1 {
  margin-top: 80px;
  text-transform: uppercase;
}
.footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer .col-xl-12 {
  display: inline-block;
}
.popup-content {
  width: 270px;
}
@keyframes line {
  0% {
    width: 100px;
  }
  100% {
    width: 50px;
  }
}
@media (max-width: 767px) {
  .header .menu a {
    margin-left: 7px;
  }
  .home h1 {
    margin-top: 120px;
  }
}
/*# sourceMappingURL=style.css.map */